table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.btnFormulario{
  padding: 5px 40px;
  background-color: #00c4ff;
  color: white;
  font-size: 15px;
  border-style: none;
  box-shadow: -3px 4px 4px rgba(0,0,0,0.2);
  margin-bottom: 15px;
  -webkit-transition: background-color 0.5s,box-shadow 0.8s; /* Safari */
  transition: background-color 0.5s,box-shadow 0.8s;
}

.btnFormulario:hover{
  background-color: #175e73;
  box-shadow: -3px 4px 4px rgba(0,0,0,0.0);
}

#checkbox{
  padding-left: 10px;
}

#loader {
  display: none;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}